html:root {
    --border: #CCCCCC;
    --background-input: #f4f4f4;
    --secondary-color: #1A2D3C
}

.editormd--preview {
    font-weight: 200 !important;
    min-height: 500px !important;
    font-family: "Source Sans Pro", sans-serif !important;
    border: 1px solid var(--border) !important;
    border-radius: 0 0 8px 8px;
    padding: 15px;
}

.editormd--preview p, .editormd--preview li, .editormd--preview ol {
    font-family: "Source Sans Pro", sans-serif !important;
    font-weight: 200 !important;
    font-size: 1.2rem !important;
    line-height: 1.8rem !important;
    hyphens: auto;
}

.editormd--preview ul {
    margin: 0;
    padding: 0 15px;
}

.editormd--header span {
    height: 30px;
    width: 30px;
}

.editormd--header ul {
    margin: 0;
    padding: 10px;
    background-color: var(--background-input);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
}

.editormd--header ul li {
    display: inline-block;
    margin-right: 10px;
}

.editormd--header ul li a {
    color: black;
}

.editormd--content .md-editor-wrap {
    position: relative;
}

.editormd--content .md-backdrop, .editormd--content textarea {
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 500px;
    min-height: 500px;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.8rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid var(--border);
    border-radius: 0 0 8px 8px;
}

.editormd--content .md-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    color: black;
    border-color: transparent;
    pointer-events: none;
    z-index: 1;
}

.editormd--content textarea {
    position: relative;
    z-index: 2;
    resize: vertical;
    background: transparent !important;
    color: transparent !important;
    caret-color: black;
    outline: none;
}

.panel .nav-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.panel .nav-tabs li {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 200;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    border-radius: 0 8px 0 0;
    box-sizing: border-box;
    border-top: 1px solid var(--border);
}

.panel .nav-tabs li.active {
    background: var(--secondary-color) !important;
    color: white;
}

.panel .nav-tabs li:first-child {
    border-radius: 8px 0 0 0;
    border-left: 1px solid var(--border);
}

.panel .nav-tabs li:last-child {
    border-radius: 0 8px 0 0;
    border-right: 1px solid var(--border);
}

.panel .tab-pane {
    display: none;
}

.panel .tab-pane.active {
    display: block;
}
